In [1]:
import pandas as pd

In [2]:
import os

In [3]:
os.path.dirname(os.getcwd())

'/Users/ashokkumar/Documents/Ashok/projects/stocks/crypto'

In [10]:
my_dir = os.path.join(os.path.dirname(os.getcwd()), 'data')

In [7]:
os.path.join(os.path.dirname(os.getcwd()), 'BCH-USD.csv')

'/Users/ashokkumar/Documents/Ashok/projects/stocks/crypto/BCH-USD.csv'

In [13]:
df = pd.read_csv(os.path.join(my_dir, 'BCH-USD.csv'))

In [14]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-15,1358.650024,1400.709961,1330.180054,1375.810059,1375.810059,502454016
1,2018-02-16,1373.160034,1558.660034,1369.680054,1552.199951,1552.199951,961009984
2,2018-02-17,1548.479980,1568.640015,1517.140015,1551.390015,1551.390015,641718976
3,2018-02-18,1552.099976,1641.400024,1428.489990,1487.459961,1487.459961,907873024
4,2018-02-19,1483.339966,1553.810059,1483.339966,1534.770020,1534.770020,578905984